
decorator==5.1.1

Django==4.2.7
django-storages==1.14.2
django-templatetags==1.1

gitdb==4.0.10
GitPython==3.1.31

jsonschema==4.17.3

mysql-connector==2.2.9
mysql-connector-python==8.2.0

Pillow==9.5.0
psycopg2-binary==2.9.9


pyparsing==3.0.9


qrcode==7.4.2

sqlparse==0.4.4

validators==0.20.0
virtualenv==20.24.6
virtualenvwrapper-win==1.2.7

zipp==3.15.0
